/**
 * Theme Name: {{ project_name_human }}
 * Theme URI:  https://github.com/{{ author | lower | replace(" ", "") }}/{{ project_name }}
 * Author:     {{ author }}
 * Description: {{ description }}
 * Version:    0.1.0
 * License:    GPL-2.0-or-later
 * Text Domain: {{ project_name | replace("_", "-") }}
 */